<app-sidebar></app-sidebar>
<main class="main_content profilepage">
  <!-- <app-header></app-header> -->
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row" style="margin: 0px">
        <div class="col-12">
          <h1
            style="
              text-align: center;
              font-size: 25px;
              margin-top: 10px;
              color: rgb(171, 15, 15);
            "
          >
            View Candidate Details
          </h1>
        </div>

        <div class="order_session" style="margin: 12px 0; margin: 12px 0"></div>

        <div class="form-check justify-content-center mb-4">
          <button
            type="button"
            class="btn btn-secondary btn-block mb-4"
            style="/* float: right; */ width: 9%; margin-left: 34%"
            [routerLink]="['../AddAdvanceDetailsForCandidate']"
           *ngIf="datas.candidateDetails.length ==0"
          >
            Add Details
          </button>
          <button
            type="submit"
            class="btn btn-primary btn-block mb-4"
            style="/* float: right; */ width: 9%; margin-left: 34%"
            [routerLink]="['/ViewDataDetailsCan/AdvanceDetailsCandidate']"
            *ngIf="datas.candidateDetails.length !=0"
          >
            Edit Details
          </button>
        </div>

        <div
          class="col-lg-6 col-sm-12 col-xs-12 col-md-12 col-xl-6"
          style="margin-left: 10px"
        ></div>

        <div class="container" style="margin-top: -31px" *ngIf="data.length !=0">
          <div class="tab-content" style="margin: 0; padding: 0px">
            <div id="menu0" class="container tab-pane active">
              <div class="col-12">
                <div class="form_controller">
                  <form>
                    <div
                      class="table table-fixed"
                      style="max-width: 90%; margin: auto"
                     
                    >
                      <div>
                        <div
                          style="display: flex; justify-content: space-between"
                        >
                          <span>
                            <b>Name:</b>
                          </span>
                          <span style="width: 60%">:{{ data.name }}</span>
                          <!-- <span style="width: 60%">:
                                                        <span *ngFor="let item of data.keyskill">{{item}},</span>
                                                    </span> -->
                        </div>
                        <div
                          style="display: flex; justify-content: space-between"
                        >
                          <span>
                            <b>Email:</b>
                          </span>
                          <span style="width: 60%">:{{ data.email }}</span>
                        </div>
                        <div
                          style="display: flex; justify-content: space-between"
                        >
                          <span>
                            <b>Mobile Number:</b>
                          </span>
                          <span style="width: 60%"
                            >:{{ data.mobileNumber }}
                          </span>
                        </div>

                        <div
                          style="display: flex; justify-content: space-between"
                        >
                          <span>
                            <b>Work Status:</b>
                          </span>
                          <span style="width: 60%"
                            >:
                            <span>{{ data.workStatus }}</span>
                          </span>
                        </div>

                        <div class="form_singlerow">
                          <span>
                            <b>resume:</b>
                          </span>
                          <button
                            class="btn btn-link"
                            *ngIf="
                              data.resume != '' &&
                              data.resume != null &&
                              data.resume != 'undefined'
                            "
                            data-bs-toggle="modal"
                            data-bs-target="#singleimageview"
                            style="margin-right: 141px"
                            (click)="
                              viewproduct_details(data.resume, data.name)
                            "
                          >
                            view Resume
                          </button>
                        </div>
                        <div class="modal mt-5 fade" id="singleimageview">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title">{{ this.name }}</h4>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                ></button>
                              </div>
                              <div class="modal-body">
                                <div
                                  style="
                                    text-align: center;
                                    margin: 0;
                                    padding: 0;
                                  "
                                >
                                  <iframe
                                    [src]="
                                      baseurl + '/' + viewproduct
                                        | safemode : 'resourceUrl'
                                    "
                                    style="width: 100%; height: 400px"
                                    alt=""
                                    *ngIf="
                                      viewproduct != '' && viewproduct != null
                                    "
                                  ></iframe>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-danger"
                                  data-bs-dismiss="modal"
                                >
                                  Close
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form_singlerow">
                          <span>
                            <b>Location:</b>
                          </span>
                          <button
                            class="btn btn-link"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModalLabel"
                            style="margin-right: 97px"
                            (click)="viewMap(data.lat, data.long)"
                          >
                            View Your Location
                          </button>
                        </div>
                        <div
                          class="modal fade"
                          id="exampleModalLabel"
                          tabindex="-1"
                          aria-labelledby="exampleModalLabel"
                          aria-hidden="true"
                          style="margin-top: 66px"
                        >
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                  Location - Map View
                                </h5>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-body" style="height: 400px">
                                <agm-map
                                  [latitude]="this.latitude"
                                  [longitude]="this.longitude"
                                  [zoom]="zoom"
                                  zoomControl="true"
                                  style="height: 300px"
                                >
                                  <agm-marker
                                    [latitude]="this.latitude"
                                    [longitude]="this.longitude"
                                  >
                                  </agm-marker>
                                </agm-map>
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-secondary"
                                  data-bs-dismiss="modal"
                                >
                                  Close
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div
                          class="table table-fixed"
                          style="max-width: 90%; margin: auto"
                          *ngIf="datas.candidateDetails.length != 0"
                        >
                          <div>
                            <!-- <div style="display: flex; justify-content: space-between">
                                                                <span>
                                                                    <b>keyskill:</b>
                                                                </span>
                                                                <span style="width: 60%" >:
                                                                    <span *ngFor="let item of data.keyskill">{{item}},</span>
                                                                </span>
                                                            </div> -->
                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                              *ngIf="datas.candidateDetails.length != 0"
                            >
                              <span>
                                <b>keyskill:</b>
                              </span>
                              <span style="width: 60%"
                                >:
                                <span
                                  *ngFor="
                                    let item of datas.candidateDetails[0]
                                      .keyskill
                                  "
                                  >{{ item }},
                                </span>
                              </span>
                            </div>
                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>CurrentSkill:</b>
                              </span>
                              <span style="width: 60%"
                                >:
                                <span
                                  *ngFor="
                                    let itemcurrent of datas.candidateDetails[0]
                                      .currentSkill
                                  "
                                  >{{ itemcurrent }},
                                </span>
                              </span>
                              <!-- <span style="width: 60%" *ngFor="let itemcurrent of data.candidateDetails[0].currentSkill">{{itemcurrent}}, </span> -->
                            </div>
                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>PreferredSkill:</b>
                              </span>
                              <span style="width: 60%"
                                >:
                                <span
                                  *ngFor="
                                    let itempre of datas.candidateDetails[0]
                                      .preferredSkill
                                  "
                                  >{{ itempre }},
                                </span>
                              </span>
                              <!-- <span style="width: 60%"*ngFor="let itempre of data.candidateDetails[0].preferredSkill">{{itempre}},  </span> -->
                            </div>
                            <!-- <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                            <span>
                              <b>PreferredSkill:</b>
                            </span>
                            <span style="width: 60%"
                              >:
                              <span
                                *ngFor="
                                  let itempre of datas.candidateDetails[0]
                                    .preferredSkill
                                "
                                >{{ itempre }}
                              </span>
                            </span>
                            </div> -->
                            <!-- <span style="width: 60%"*ngFor="let itempre of data.candidateDetails[0].preferredSkill">{{itempre}},  </span> -->
                            <!-- <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                            <span>
                              <b>Secondary Skill</b>
                            </span>
                            <span style="width: 60%"
                              >:
                              <span
                                *ngFor="
                                  let itemSecondary of datas.candidateDetails[0]
                                    .secondarySkill
                                "
                                >{{ itemSecondary }}
                              </span>
                            </span>
                          </div> -->
                          <!-- <div
                          style="
                            display: flex;
                            justify-content: space-between;
                          "
                        >
                            <span>

                              <b>Past Skill:</b>
                            </span>
                            <span style="width: 60%" 
                              >:
                              <span 
                                *ngFor="
                                  let itempast of datas.candidateDetails[0]
                                    .pasrSkill
                                "
                                >{{ itempast }}
                              </span>
                            </span>
                            </div> -->
                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>Experience:</b>
                              </span>
                              <span style="width: 60%"
                                >{{
                                  datas.candidateDetails[0].experienceYear
                                }}year -
                                {{
                                  datas.candidateDetails[0].experienceMonth
                                }}month</span
                              >
                            </div>

                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>SalaryRange:</b>
                              </span>
                              <span style="width: 60%"
                                >{{
                                  datas.candidateDetails[0].salaryRangeFrom
                                }}
                                -
                                {{
                                  datas.candidateDetails[0].salaryRangeTo
                                }}</span
                              >
                            </div>

                            <!-- <div style="display: flex; justify-content: space-between">
                                                                <span>
                                                                    <b>Native Address:</b>
                                                                </span>
                                                                <span style="width: 60%">:{{datas.candidateDetails[0].locationNative}}</span>
                                                            </div> -->
                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>Current Address:</b>
                              </span>
                              <span style="width: 60%"
                                >:{{
                                  datas.candidateDetails[0].locationCurrent
                                }}</span
                              >
                            </div>


                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>Education:</b>
                              </span>
                              <span style="width: 60%"
                                >:{{
                                  datas.candidateDetails[0].education
                                }}</span
                              >
                            </div>

                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>Specification:</b>
                              </span>
                              <span style="width: 60%"
                                >:{{
                                  datas.candidateDetails[0].specification
                                }}</span
                              >
                            </div>

                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>University:</b>
                              </span>
                              <span style="width: 60%"
                                >:{{
                                  datas.candidateDetails[0].university
                                }}</span
                              >
                            </div>

                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>CourseType:</b>
                              </span>
                              <span style="width: 60%"
                                >:{{
                                  datas.candidateDetails[0].courseType
                                }}</span
                              >
                            </div>
                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>PassingYear:</b>
                              </span>
                              <span style="width: 60%"
                                >:{{
                                  datas.candidateDetails[0].passingYear
                                }}</span
                              >
                            </div>
                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>GradingSystem:</b>
                              </span>
                              <span style="width: 60%"
                                >:{{
                                  datas.candidateDetails[0].gradingSystem
                                }}
                                - {{ datas.candidateDetails[0].mark }}</span
                              >
                            </div>
                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>Availability:</b>
                              </span>
                              <span style="width: 60%"
                                >:{{
                                  datas.candidateDetails[0].availability
                                }}</span
                              >
                            </div>
                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>Gender:</b>
                              </span>
                              <span style="width: 60%"
                                >:{{ datas.candidateDetails[0].gender }}</span
                              >
                            </div>
                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>MaritalStatus:</b>
                              </span>
                              <span style="width: 60%"
                                >:{{
                                  datas.candidateDetails[0].maritalStatus
                                }}</span
                              >
                            </div>

                            <div
                              style="
                                display: flex;
                                justify-content: space-between;
                              "
                            >
                              <span>
                                <b>Profile Picture:</b>
                              </span>
                              <img
                                style="width: 223px"
                                src="{{
                                  baseurl +
                                    '/' +
                                    datas.candidateDetails[0].image
                                }}"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
