

<aside class="sidebar">
	<div class="sidebar_logo sidebar-header d-flex align-items-center justify-content-center">
		<a href="login"><img src="assets/images/logo_new.png" height="50" alt="" class="img-fluid"></a>
	</div>	

	<div class="sidebar-body">
		<div class="scroll-content">
			<ul>
				
				
				<!-- admin Side -->
				<li style="    color: red;">Admin</li>
				<!-- <li><a routerLink="/AdminLogin" routerLinkActive="active" ><i class="las la-certificate"></i><span> AdminLogin</span></a></li>
				<li><a routerLink="/AdminRegistration" routerLinkActive="active" ><i class="las la-certificate"></i><span>AdminRegistration</span></a></li> -->
				<li><a routerLink="/AdminSideViewEmployeeRegistration" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">ManageEmployeeRegistration</span></a></li>
				<li><a routerLink="/AdminSideViewCandidateRegistration" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;"> ManageCandidateRegistration</span></a></li>
				<li><a routerLink="/AdminViewJobPosting" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">ManageJobPosting</span></a></li>
				<li><a routerLink="/ManagePlanView" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">ManagePlanView</span></a></li>
				
			</ul>
		</div>
		<div class="poweredby"><a href="" target="_blank"><img src="" alt="" class="img-fluid"></a></div>
	</div>

     <script>
		$('.feat-btn').click(function(){
			$('ul .feat-show').toggleClass("show");
		})
	 </script>


</aside>