<aside class="sidebar">
	<div class="sidebar_logo sidebar-header d-flex align-items-center justify-content-center">
		<a href="login"><img src="assets/images/logo_new.png" height="50" alt="" class="img-fluid"></a>
	</div>	

	<div class="sidebar-body">
		<div class="scroll-content">
			<ul>
				<!-- candidate -->
				<li style="    color: red;
				margin-top: -70px;
			">candidate</li>
				<!-- <li><a routerLink="/AddAdvanceDetailsForCandidate" routerLinkActive="active" ><i class="las la-certificate"></i><span style="
			
						
						margin-bottom: -33px;">Add Profile Skills  </span></a></li> -->
				<li><a routerLink="/ViewBasicCandidate" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">My Account</span></a></li>
				<!-- <li><a routerLink="/ViewDataDetailsCan" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">View Data Details Candidate</span></a></li> -->
				<li><a routerLink="/SearchCandidateSide" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">Search Job</span></a></li>
				<li><a routerLink="/AppliedJob" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">View Applied Job</span></a></li>
				<li><a routerLink="/SavedJobs" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">View Saved Job</span></a></li>
				<li><a routerLink="/JobAlertCreate/JobAlert" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">Job Alert</span></a></li>
				
				<!-- <li style="    color: red;">Employeer</li>
				
				<li><a routerLink="/ViewBasicEmployee" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">My Account - Employee</span></a></li>
				<li><a routerLink="/searchCandidate" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">Search Candidate</span></a></li>
				<li><a routerLink="/MyJobPost" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">Manage MyJobPost</span></a></li>
				<li><a routerLink="/SavedSearchViewByEmployeer" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">SavedSearchViewByEmployeer</span></a></li>
				<li><a routerLink="/EmployeeViewPlanDetailsByAdmin" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">My Plans</span></a></li>
				<li><a routerLink="/ManageEmployerPlanEmployeeView" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">Manage my Plans</span></a></li> -->
				
				
				<!-- <li style="    color: red;">Admin</li>
				
				<li><a routerLink="/AdminSideViewEmployeeRegistration" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">AdminSideViewEmployeeRegistration</span></a></li>
				<li><a routerLink="/AdminSideViewCandidateRegistration" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;"> AdminSideViewCandidateRegistration</span></a></li>
				<li><a routerLink="/AdminViewJobPosting" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">AdminViewJobPosting</span></a></li>
				<li><a routerLink="/ManagePlanView" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">ManagePlanView</span></a></li> -->
				
			</ul>
		</div>
		<div class="poweredby"><a href="" target="_blank"><img src="" alt="" class="img-fluid"></a></div>
	</div>

     <script>
		$('.feat-btn').click(function(){
			$('ul .feat-show').toggleClass("show");
		})
	 </script>


</aside>