
<aside class="sidebar">
	<div class="sidebar_logo sidebar-header d-flex align-items-center justify-content-center">
		<a href="login"><img src="assets/images/logo_new.png" height="50" alt="" class="img-fluid"></a>
	</div>	

	<div class="sidebar-body">
		<div class="scroll-content">
			<ul>
				
				<!-- Enployeer -->
				<li style="    color: red;">Employer</li>
				<!-- <li><a routerLink="/PostJobEmployee" routerLinkActive="active" ><i class="las la-certificate"></i><span> Post Job </span></a></li> -->
				<li><a routerLink="/ViewBasicEmployee" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">My Account</span></a></li>
				<!-- <li><a routerLink="/ViewDetailsEmployee" routerLinkActive="active" ><i class="las la-certificate"></i><span>View Details Employee</span></a></li> -->
				<!-- <li><a routerLink="/EditEmployeeAdvance" routerLinkActive="active" ><i class="las la-certificate"></i><span>Edit Employee Advance Details</span></a></li> -->
				<li><a routerLink="/searchCandidate" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">Search Candidate</span></a></li>
				<li><a routerLink="/MyJobPost" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">Manage MyJobPost</span></a></li>
				<li><a routerLink="/SavedSearchViewByEmployeer" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">SavedSearchViewByEmployer</span></a></li>
				<li><a routerLink="/EmployeeViewPlanDetailsByAdmin" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">My Plans</span></a></li>
				<li><a routerLink="/ManageEmployerPlanEmployeeView" routerLinkActive="active" ><i class="las la-certificate"></i><span style="    margin-bottom: -33px;">Manage my Plans</span></a></li>
				
				
				
			</ul>
		</div>
		<div class="poweredby"><a href="" target="_blank"><img src="" alt="" class="img-fluid"></a></div>
	</div>

     <script>
		$('.feat-btn').click(function(){
			$('ul .feat-show').toggleClass("show");
		})
	 </script>


</aside>